[Unit]
Description=Flickr uploader
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/stdbuf -oL /home/andrey/flickr-uploader/uploader.py -d

[Install]
WantedBy=multi-user.target